In [15]:
import pandas as pd
import ast
import numpy as np
import os

In [16]:
eval_results_path = "/Users/Maria.Tigina/PycharmProjects/lca-baselines/bug_localization/data/eval"

In [25]:
run_id = "deepseek-v3_filepath"

In [26]:
df = pd.read_json(os.path.join(eval_results_path, run_id, 'results.jsonl'), lines=True)
df

,text_id,All Files Count,Expected Bug Files Count,Actual Bug Files Count,% of Bug Files,Precision,Recall,F1 Score,FPR,All Correct,At Least One Correct,All Incorrect,system_prompt_tokens,user_prompt_tokens,total_tokens
0,thealgorithms/python/295/289,195,1,1,0.005128,1.0000,1.000000,1.000000,0.000000,1,1,0,116,1921,2039
1,keras-team/keras/15943/15942,553,1,2,0.003617,0.5000,1.000000,0.666667,0.001812,0,1,0,116,6370,6488
2,serverless/serverless/5500/5499,10,1,1,0.100000,1.0000,1.000000,1.000000,0.000000,1,1,0,116,265,383
3,textualize/rich/2212/2197,122,1,1,0.008197,1.0000,1.000000,1.000000,0.000000,1,1,0,116,1659,1777
4,mitmproxy/mitmproxy/4298/3994,307,2,2,0.006515,0.5000,0.500000,0.500000,0.003279,0,1,0,116,3191,3309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,jwstegemann/fritz2/430/425,102,1,4,0.039216,0.2500,1.000000,0.400000,0.029703,0,1,0,116,2212,2330
146,jwstegemann/fritz2/679/671,94,3,2,0.021277,1.0000,0.666667,0.800000,0.000000,0,1,0,116,1905,2023
147,theopenconversationkit/tock/1040/1039,1484,2,4,0.002695,0.2500,0.500000,0.333333,0.002024,0,1,0,116,15883,16001
148,google/android-fhir/301/296,122,5,16,0.131148,0.1875,0.600000,0.285714,0.111111,0,1,0,116,2711,2829
149,splendo/kaluga/469/468,1157,3,5,0.004322,0.4000,0.666667,0.500000,0.002600,0,1,0,116,15883,16001

In [27]:
df[['Precision', 'Recall', 'F1 Score', 'FPR']].describe().round(3)

       Precision   Recall  F1 Score      FPR
count    150.000  150.000   150.000  150.000
mean       0.489    0.697     0.523    0.025
std        0.330    0.359     0.305    0.088
min        0.000    0.000     0.000    0.000
25%        0.250    0.350     0.286    0.001
50%        0.333    1.000     0.500    0.006
75%        0.750    1.000     0.667    0.021
max        1.000    1.000     1.000    1.000

In [28]:
df[['All Correct', 'At Least One Correct', 'All Incorrect', 'Actual Bug Files Count']].describe().round(2)

,All Correct,At Least One Correct,All Incorrect,Actual Bug Files Count
count,150.00,150.00,150.00,150.00
mean,0.19,0.92,0.08,3.61
std,0.40,0.27,0.27,2.72
min,0.00,0.00,0.00,1.00
25%,0.00,1.00,0.00,2.00
50%,0.00,1.00,0.00,3.00
75%,0.00,1.00,0.00,5.00
max,1.00,1.00,1.00,24.00

In [21]:
df[['All Files Count', 'Expected Bug Files Count', 'Actual Bug Files Count', '% of Bug Files']].describe().round(3)

,All Files Count,Expected Bug Files Count,Actual Bug Files Count,% of Bug Files
count,150.000,150.000,150.000,150.000
mean,540.180,2.500,3.040,0.047
std,994.143,2.385,2.296,0.145
min,1.000,1.000,1.000,0.001
25%,78.250,1.000,2.000,0.004
50%,209.500,1.500,3.000,0.012
75%,517.750,3.000,4.000,0.031
max,6473.000,14.000,24.000,1.000

In [22]:
df[['total_tokens']].describe().round(3)

       total_tokens
count       150.000
mean      11150.080
std       19303.041
min         251.000
25%        1908.750
50%        4031.500
75%        9831.000
max      100001.000

In [23]:
# max 3324 min 149, mean 611

In [24]:
# max >200000 min 251, mean 11150